@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;         
  width: 100%;
  background-color: var(--middlegray);
  font-family: var(--font-helvetica);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: auto;            /*  prevent content cutoff */
}


:root {
  --blue: #0788EF;
  --green: #008848;
  --yellow: #FEB700;
  --orange: #FF573B;
  --softgrey: #E9E9E9;
  --middlegray: #BBBBBB;
  --darkgrey: #9A9A9A;
  --darkergrey: #363636;
  --black: #202020;

    /* Font families */
    --font-helvetica: 'Helvetica Neue', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
}


